body{
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: sans-serif;
  max-width: 100vw;
}

html{
  scroll-behavior: smooth;
}

.all-content{
  display: none;
}

/* preloader */
.preloader{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('images/preloader.gif') center no-repeat;
  background-color: white;
  z-index: 1000;
}


section{
  margin: 0 12% 0 12%;
}

/* navbar */

.logo{
  width: 120px;
}

.active{
  background: -webkit-linear-gradient(#f6d365, #fda085);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.nav-link{
  color: #757575 !important;
  font-weight: 500;
  margin-right: 20px;
}

.collapse{
  justify-content: flex-end;  
}

.btn{
  background: linear-gradient(to right, #f6d365, #fda085);
  color: white;
  font-weight: 500;
  padding: 10px 24px 10px 24px;
  transition-property: all;
  transition-timing-function: ease;
  transition-duration: 0.6s;
  transition-delay: 0s;
  background: linear-gradient(to right, #f6d365, #fda085);

}

.btn:hover{
  color: white;
  background: linear-gradient(to right, #fda085, #f6d365);

}

.btn:focus{
  box-shadow: rgba(0, 123, 255, 0.25) 0px 0px 0px 0px;
}

@keyframes yellow-orange{
  0%{
    background: linear-gradient(to right, #f6d365, #fda085);
  }
  100%{
    background: linear-gradient(to right, #fda085, #f6d365);
  }
}

/* header */
.first-content{
  position: relative;
}

.header{
  height: 65vh;
  background: linear-gradient(to bottom right, #ffa902, #f27469);
  width: 100%;
  border-radius: 15px;
  color: white;
  padding: 20px;
}

.header > h1{
  font-size: 3rem;
}

.fields{
  margin-top: -6em;
  margin-left: 10vw;
  margin-right: 10vw;
}

.field-name{
  height: 25vh;
  background-color: white;
  box-shadow: 5px 10px 24px #888888;
  border-radius: 10px;
  margin-bottom: 25px;
  padding-top: 40px;
  line-height: 1.8;
}

.field-icons{
  width: 18px;
  margin-left: 4px;
}

/* update-section */
.updates{
  background-color: #f9f9f9;
}

.updates img{
  margin-top: 4vh;
  margin-bottom: 14vh;
  width: 80%;
}

/* clubs section */
.clubs{
  padding: 35px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.club-box{
  height: 130px;
  border-radius: 10px;
}

#programming{
  background: rgba(0,50,212,1);
}

#web{
  background: rgba(70,211,255,1);
}

#design{
  background: rgba(255,144,120,1);
}

#technical{
  background: #f6d365;
}

.clubs:hover{
  box-shadow: 5px 10px 24px #888888;
  border-radius:10px;
}

.club-box img{
  width: 30%;
}

p{
  color: #757575 !important;
}

/* about-section */

.about-div{
  background: #f9f9f9;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about > p{
  font-size: 1.1rem !important;
}

/* footer-section */

.footer{
  background: #f0f0f0;;
}

.footer section{
  margin: 0 26% 0 26%;
}

.team-projects{
  height: 32vh;
  box-shadow: 5px 10px 24px #888888;
  border-radius: 10px;
  margin-bottom: 25px;
  margin-top: -4em;
  line-height: 1.8;
  color: white;
  padding: 30px;
  font-weight: 500 !important;
}

.team-projects img{
  width: 40px;
  float: right;
}

#team{
  background: rgba(255, 144, 120, 1);
  margin-bottom: 80px;
}

#project{
  background: rgba(70, 211, 255, 1);
}

.grid-container{
  background: #f0f0f0;
  display: grid;
  grid-template-columns: 25% 50% 25%;
  text-align: center;
  padding: 30px 0 40px 0; 
}

.grid-container a{
  color: #757575 !important;
  font-size: 1.3rem;
  font-weight: 600;
}

.grid-container a:hover{
  text-decoration: none;
}

.grid-container i{
  padding-top: 10px;
  font-size: 2rem;
  float: bottom;
}

.grid-container i:hover{
  transform: scale(1.3);
}

.grid-container a img{
  width: 40px;
  margin-right: 10px;
}

/* media-queries */
@media screen and (max-width: 480px) {

  section{
    margin: 0 6% 0 6% !important;
  }

  
  .header > h1{
    font-size: 2rem;
  }
  .fields{
    margin-top: -6em;
    margin-left: 4vw;
    margin-right: 4vw;
  }

  .clubs{
    padding: 40px;
  }

  p{
    font-size: 1.3rem;
  }

  .grid-container{
    grid-template-columns: 100%;
  }

  .grid-container > div{
    margin-top: 25px;
  }

}

